:root {
  --branding-primary: #0ce8aa;
  --branding-secondary: #0D7EFF;
  --branding-tertiary: #0CADE8;
  --branding-quaternary: #0DFF76;

  --branding-primary-dark: #1F1F1F;
  --branding-secondary-dark: #404040;
  --branding-tertiary-dark: #7F7F7F;
}

body
{
  background-color: var(--branding-secondary-dark);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--branding-primary);  
  padding: 20px;
  color: var(--branding-primary-dark);
}

.search-container {
  margin-top: 20px;
}

.input-field {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px; /* Adjust the width as needed */
}


.search-button {
  padding: 10px 20px;
  background-color: var(--branding-secondary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.error-message a {
  color: black;
  font-weight: normal;
  text-decoration: underline;
}
